.hero-image {
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(60%);
  width:100%;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  font-size: 80px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  width:100%;
}


.filter-section {
  z-index: 1;
  margin-top:20px;
  margin-left:-5px;
  position: fixed;
  display: flex;
  width:100%;
}

.filter-section #filter-button {
  transform: translateX(-55%);
  transition: all 0.5s;
}


.filter-section #filter-button:hover {
  transform: translateX(0%);
}


.product-section {
  width: 70%;
  gap: 40px;
  margin: 0 auto;
  padding-left:40px;
  padding-right:40px;
  padding-top: 40px;
  padding-bottom: 40px;

  display: grid;
  grid-template-columns: auto auto auto;
  position:relative;
  justify-content: center;
  align-items: center;
}


