<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/loginRegisterForm.jsp</form-login-page>
            <form-error-page>/loginRegisterForm.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/general/error.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/general/error.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/general/error.jsp</location>
    </error-page>

    <security-role>
        <role-name>USER</role-name>
    </security-role>
    <security-role>
        <role-name>STAFF</role-name>
    </security-role>
    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>UserPages</web-resource-name>
            <url-pattern>/user/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER</role-name>
            <role-name>STAFF</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminPages</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN</role-name>
            <role-name>STAFF</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>